<div class="col">

        <div class="card">
            <img src="~/img/1.jpg" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">Lorem, ipsum.</h5>
                <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium, sit.</p>
                <a class="card-link" href="#">İncele</a>
            </div>
        </div>
    </div>
