@model List<Course>

    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1 class="h3 mb-3">Kurslar</h1>
        <a class="btn btn-outline-danger" asp-controller="Course" asp-action="List">Tüm Kurslar</a>
    </div>

<div class="row">

    @foreach ( Course course in Model ) 
    {
        if ( course.IsHome ) 
        {
            <div class="col-md-4">
                @await Html.PartialAsync("_CourseCard", course)
            </div> 
        }

    }

</div>