<h1 class="mb-3">Kurslar</h1>

<div class="row kurslar">
    
    @* @await Html.PartialAsync("~/Views/Home/_CourseCard.cshtml") *@
    @await Html.PartialAsync("_CourseCard")
    @await Html.PartialAsync("_CourseCard")
    @await Html.PartialAsync("_CourseCard")
    @await Html.PartialAsync("_CourseCard")
    
</div>