@* @model Course[] *@
@model List<Course>

<h1>Tüm Kurslar</h1>

<div class="row">

    @foreach ( Course course in Model ) 
    {
        <div class="col-md-3">

            @await Html.PartialAsync("_CourseCard", course)
    
        </div>
    }
        
</div>