@model Product

<div class="card mb-4 shadow">
    <img src="~/img/@Model.UrunResim" class="card-img-top p-3 pt-0 " alt="">
    <div class="col-md-12">
        <div class="card-body bg-light">
            <h5 class="card-title">@Model.UrunBaslik</h5>
            <p class="card-text">@Model.UrunAciklama</p>
        <a class="btn btn-outline-secondary d-flex justify-content-center align-items-center" asp-controller="Products" asp-action="Details" asp-route-id="@Model.Id">İncele</a>
        </div>
    </div>
    
</div>