@model Product

<div class="card mb-4">
    <img src="~/img/@Model.urunResim" class="card-img-top" alt="">
    <div class="card-body">
        <h5 class="card-title">@Model.urunBaslik</h5>
        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium, sit.</p>
        <a class="btn btn-secondary" href="#">İncele</a>
    </div>
</div>