@model Product

<div class="row border">
    <div class="col-4">
        <img src="~/img/@Model.UrunResim" alt="" class="img-fluid"/>
    </div>
    <div class="col-8 border-start p-3">
        <h1>@Model.UrunBaslik</h1>
        <p>
            @Model.UrunAciklama
        </p>
        <p>
            Fiyat: @Model.UrunFiyat ₺
        </p>

        @if ( Model.UrunSatistami && Model.StokAdedi > 0 ) {
            <p>
                Stok Durumu: <strong>Stokta Var</strong>
            </p>
        } else {
            <p >
                Stok Durumu: <span class="text-danger">Stokta Yok</span>
            </p>
        }
    </div>
</div>