<h1>Products/Details</h1>

<div class="row">
    <div class="col-4">
        <img src="~/img/@ViewData["urunResim"]" alt="" class="img-fluid"/>
    </div>
    <div class="col-8">
        <h1>@ViewData["urunBaslik"]</h1>
        <p>
            @ViewData["urunAciklama"]
        </p>
        <p>
            Fiyat: @ViewData["urunFiyat"] ₺
        </p>
        <p>
            Stok: @ViewData["urunSatistami"]
        </p>
    </div>
</div>