@model List<Product>

<h1>Products/Index</h1>

<div class="row">
    @foreach (Product urun in Model) 
     {
        if (urun.IsHome) {
            <div class="col-md-3">
                @await Html.PartialAsync("_ProductCard", urun)
            </div>
        }
     }
</div>

