@model List<Product>

<div class="d-flex justify-content-between align-items-center mb-4">
        <h1 class="h3 mb-3">Products</h1>
        <a class="btn btn-outline-danger" asp-controller="Products" asp-action="List">All Products</a>
    </div>

<div class="row">
    @foreach (Product urun in Model) 
     {
        <div class="col-md-3">
             @await Html.PartialAsync("_ProductCard", urun)
        </div>
    }
    
</div>

