@model List<Product>

<h1>Products/List</h1>

<div class="row">

    @foreach ( Product urun in Model ) 
    {
        <div class="col-md-4">
            @await Html.PartialAsync("_ProductCard", urun)
        </div>
    
    }
</div>
